@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300;400;700;800&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-Thin.woff2")
		format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-ThinItalic.woff2")
		format("woff2");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-Light.woff2")
		format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-LightItalic.woff2")
		format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-Book.woff2")
		format("woff2");
	font-weight: 350;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-BookItalic.woff2")
		format("woff2");
	font-weight: 350;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-Regular.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-RegularItalic.woff2")
		format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-Medium.woff2")
		format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-MediumItalic.woff2")
		format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-SemiBold.woff2")
		format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-SemiBoldItalic.woff2")
		format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-Bold.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-BoldItalic.woff2")
		format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-Heavy.woff2")
		format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Reckless Condensed";
	src: url("/fonts/Reckless Condensed M/RecklessCondensedM-TRIAL-HeavyItalic.woff2")
		format("woff2");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@theme inline {
	--font-primary: "Reckless Condensed", serif;
	--font-geist: "Geist", sans-serif;
	--font-mono: "Geist Mono", monospace;
	--font-clock: "BioRhyme Expanded", serif;

	--font-heading: var(--font-sans);
	--font-sans: var(--font-sans);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
}

:root {
	--background: oklab(1 0 0);
	--foreground: oklab(0.267 0 0);
	--card: oklab(1 0 0);
	--card-foreground: oklab(0.145 0 0);
	--popover: oklab(1 0 0);
	--popover-foreground: oklab(0.145 0 0);
	--primary: oklab(0.205 0 0);
	--primary-foreground: oklab(0.985 0 0);
	--secondary: oklab(0.967 0 0);
	--secondary-foreground: oklab(0.205 0 0);
	/* --muted: oklab(0.572 0 0); */
	--muted: oklab(0 0 0 / 0.5);
	--muted-foreground: oklab(0 0 0 / 0.7);
	--accent: oklab(0.97 0 0);
	--accent-foreground: oklab(0.205 0 0);
	--destructive: oklab(0.577 0.2183 0.1112);
	--border: oklab(0.922 0 0);
	--input: oklab(0.922 0 0);
	--ring: oklab(0.708 0 0);
	--chart-1: oklab(0.87 0 0);
	--chart-2: oklab(0.556 0 0);
	--chart-3: oklab(0.439 0 0);
	--chart-4: oklab(0.371 0 0);
	--chart-5: oklab(0.269 0 0);
	--radius: 0.625rem;
	--sidebar: oklab(0.985 0 0);
	--sidebar-foreground: oklab(0.145 0 0);
	--sidebar-primary: oklab(0.205 0 0);
	--sidebar-primary-foreground: oklab(0.985 0 0);
	--sidebar-accent: oklab(0.97 0 0);
	--sidebar-accent-foreground: oklab(0.205 0 0);
	--sidebar-border: oklab(0.922 0 0);
	--sidebar-ring: oklab(0.708 0 0);
}

.dark {
	--background: oklab(0.145 0 0);
	--foreground: oklab(0.985 0 0);
	--card: oklab(0.205 0 0);
	--card-foreground: oklab(0.985 0 0);
	--popover: oklab(0.205 0 0);
	--popover-foreground: oklab(0.985 0 0);
	--primary: oklab(0.922 0 0);
	--primary-foreground: oklab(0.205 0 0);
	--secondary: oklab(0.269 0 0);
	--secondary-foreground: oklab(0.985 0 0);
	--muted: oklab(0.572 0 0);
	--muted-foreground: oklab(0.659 0 0);
	--accent: oklab(0.269 0 0);
	--accent-foreground: oklab(0.985 0 0);
	--destructive: oklab(0.704 0.1658 0.1012);
	--border: oklab(1 0 0 / 10%);
	--input: oklab(1 0 0 / 15%);
	--ring: oklab(0.556 0 0);
	--chart-1: oklab(0.87 0 0);
	--chart-2: oklab(0.556 0 0);
	--chart-3: oklab(0.439 0 0);
	--chart-4: oklab(0.371 0 0);
	--chart-5: oklab(0.269 0 0);
	--sidebar: oklab(0.205 0 0);
	--sidebar-foreground: oklab(0.985 0 0);
	--sidebar-primary: oklab(0.488 -0.0873 -0.2397);
	--sidebar-primary-foreground: oklab(0.985 0 0);
	--sidebar-accent: oklab(0.269 0 0);
	--sidebar-accent-foreground: oklab(0.985 0 0);
	--sidebar-border: oklab(1 0 0 / 10%);
	--sidebar-ring: oklab(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-muted-foreground;
		/* @apply bg-gray-100 text-foreground; */
	}
	html {
		@apply font-sans;
	}

	button {
		@apply cursor-pointer;
	}

	.keyboard {
		@apply relative cursor-pointer text-muted-foreground hover:text-foreground rounded-[5px] hover:bg-background 
           transform-[translateZ(0)_rotateX(0deg)] origin-[50%_100%] 
           transition-[transform,box-shadow] duration-100 ease-out;

		@apply before:content-[''] before:absolute before:inset-0 
           hover:before:border before:border-foreground before:rounded-[5px] 
           before:pointer-events-none before:transition-colors;

		@apply [.active&]:before:border [.active&]:text-foreground [.active&]:bg-background [.active&]:shadow-[0_2px_0_0_var(--color-foreground)];

		@apply active:transform-[translateZ(-4px)_rotateX(0deg)] active:shadow-none hover:shadow-[0_2px_0_0_var(--color-foreground)];
	}
}
